<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D273D7C81F9DE9790040D328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D273D7E11F9DE9790040D328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D273D7EC1F9DE9790040D328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
